.main-header {
  background-color: #6f6f6f;
  min-height: 6rem;
  align-items: center;
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
}
.main-header__title {
}
.main-header__title-link {
  color: #000;
  text-decoration: none;
}
.main-header__navigation {
  display: none;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .menu-icon {
    display: none;
  }
  .main-header__navigation {
    display: flex;
  }
  .main-header {
    padding: 0 4.8rem;
  }
}
